<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{%  block title %}{% endblock %}Главная страница</title>
    {% endblock %}
</head>
<body>

    {% block body %}
        <div align="center">
        <h1>AI Image Segmentation</h1>
        <h1>Upload your medical image. Hurry upp!</h1>
            <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                <p><input type="file" name="file">
                <p><input type="submit" value="Загрузить">
            </form>
        </div>
    {% endblock %}
</body>
</html>
